@font-face {
    font-family: 'bureaugrotesque';
    src: url('./fonts/bureau-grot-light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bureaugrotesque-human';
    src: url('./fonts/bureau-grot-condensed-bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}