.hero-header {
    background-image: url('../images/Layer2.png');
    background-size: cover;
    z-index: 12;
}
.hero-section {
    background-color: #EEEEEE;
}
.hero-jumbotron {
    background-color: #EEEEEE !important;
    /* gap: 1rem; */
    padding-top: 2rem;
    /* padding-right: 2rem; */
}
.hero-index {
    z-index: 1000;
}
aside {
    margin-top: 0px;
}
.hero-h3 {
    text-shadow: 3px 2px 16px black;
}
.hero-text {
    color: #f26e2e;
}