.hero-header {
    background-size: cover;
    z-index: 12;
}
.logo-container {
    background-image: url('../images/human_website-colors_v2.0.gif');
    background-position: left;
    background-size: 100%;
}
.site-logo {
    display: block;
}
.small-site-logo {
    display: none;
}
.hero-section {
    background-color: #EEEEEE;
}
.hero-jumbotron {
    background-color: #EEEEEE !important;
    /* gap: 1rem; */
    padding-top: 2rem;
    /* padding-right: 2rem; */
}
.hero-index {
    z-index: 1000;
}
aside {
    margin-top: 0px;
}
.hero-h3 {
    text-shadow: unset;
    color: black;
}
.hero-text {
    color: #f26e2e;
}
.second-contain {
    padding-left: 3rem;
    padding-right: 3rem;
}
.footer-logo {
    text-align: unset;
}
@media screen and (min-width: 991px) {
    .hero-h3 {
        color: white;
        text-shadow: 3px 2px 16px black;
    }
    .footer-logo {
        text-align: end;
    }
    .second-contain {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
}
@media screen and (min-width: 1100px) {
    .site-logo {
        display: none;
    }
    .small-site-logo {
        display: block;
    }
}